<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification</title>
  </head>
  <body>
    <p>Hi <%= locals.username %>,</p>
    <p>Please verify your email address by clicking the link below:</p>
    <a href="<%= locals.url %>">Verify Email</a>
    <p>If you did not create an account, please ignore this email.</p>
    <p>Thanks,</p>
    <p>Tripelse</p>
  </body>
</html>
