<!-- src/templates/forgot-password.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
  </head>
  <body>
    <p>Hi <%= locals.username %>,</p>
    <p>
      You requested to reset your password. Click the link below to reset it:
    </p>
    <a href="<%= locals.resetUrl %>">Reset Password</a>
    <p>If you didn't request this, please ignore this email.</p>
    <p>Thanks,</p>
    <p>Tripelse</p>
  </body>
</html>
